<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Request+ - Spotify Overlay!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="css/main/style.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand">
        <div class="container"><a class="navbar-brand" href="/">Request+ - Spotify Overlay!</a></div>
        <div class="d-block text-center"><a class="btn btn-success btn-lg nav-btn" href="/logout" role="button">Logout</a></div>
    </nav>
    <div class="text-center" style="color: red;">
        You can't enable requests due to having a non-premium account. Please pay for premium <a href="https://www.spotify.com/us/account/manage-your-plan/">here</a>.
    </div>
    <div class="container">
        <div class="card bg-light mt-4">
            <!-- Make a selection menu to select what style of overlay you want -->
            <div class="card-body">
                <h5 class="card-title">Settings</h5>
                <p class="card-text">Select what style of overlay you want.</p>
                <div class="form-group">
                    <select class="form-control" id="style">
                        <% const dbdata = await DBEdit3.findOne({where: {user: user.data[0].login}}) 
                            
                                const style = dbdata
                                if (style) {
                                    
                                
                                if (style.style == "moonkingbean") { %>

                                    <option value="moonkingbean">MoonKingBean</option>
                                    <option value="default">Default</option>
                                    <option value="hologram">Hologram</option>
                                    <option value="twinGhost">TwinGhost</option>

                                <% } else if (style.style == "default") { %>
                                    <option value="default">Default</option>
                                    <option value="hologram">Hologram</option>
                                    <option value="moonkingbean">MoonKingBean</option>
                                    <option value="twinGhost">TwinGhost</option>
                                <%
                                } else if (style.style == "hologram") { %>
                                    <option value="hologram">Hologram</option>
                                    <option value="default">Default</option>
                                    <option value="moonkingbean">MoonKingBean</option>
                                    <option value="twinGhost">TwinGhost</option>
                                   
                                
                                
                                <%
                                } else if (style.style == "twinGhost") { %>
                                    <option value="twinGhost">TwinGhost</option>
                                    <option value="default">Default</option>
                                    <option value="hologram">Hologram</option>
                                    <option value="moonkingbean">MoonKingBean</option>
                                <%    
                                }
                                 
                            } else { %> 
                                    <option value="default">Default</option>
                                    <option value="hologram">Hologram</option>
                                    <option value="moonkingbean">MoonKingBean</option>
                                    <option value="twinGhost">TwinGhost</option>
                                    <% } %>

                    </select>

                    <br>
                    <% if (style.isRequestEnabled == true) { %>
                    <button class="btn btn-success btn-lg nav-btn botHover"  onclick="disableBotCommand()" role="button">Disable Requests</button>
                    <div class="text-center botHoverText">
                        This Button disables song requests via twitch channel bot!
                        <br>
                        This will restart our bot program and leave your twitch channel with nessarry commands.
                        <br>
                        By Pressing this button, you authorize Request+ to unmod its bot in your chat for these purposes, <br>(Request+ will not be modded if you keep this disabled.).
                    </div>
                    <% } else { %>
                    <button class="btn btn-success btn-lg nav-btn botHover"  onclick="enableBotCommand()" role="button">Enable Requests</button>
                    <div class="text-center botHoverText">
                        This Button enables song requests via twitch channel bot!
                        <br>
                        This will restart our bot program and join your twitch channel with nessarry commands.
                        <br>
                        By Pressing this button, you authorize Request+ to mod its bot in your chat for these purposes, <br>(Request+ will not be modded[demooded] if you disable this in the future).
                        </div>

                    <% } %>
                </div>
            </div>

        </div>

        <br>
        <!-- make a login with spotify button -->
        <% 
            var loggedin = await DBEdit.findOne({where: {user: user.data[0].login}})
            
            if (loggedin) {
                if (loggedin.stoken && loggedin.stoken_renew == true) { %>
                    <div class="spot-btn text-center"><a class=" btn btn-success btn-lg nav-btn" href="/slogout" role="button"><svg xmlns="http://www.w3.org/2000/svg"style= "width: 24px; height: 24px;"  viewBox="0 0 496 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9 1-9 2.6-11.9 2.6-9.7 0-15.8-7.7-15.8-15.8 0-10.3 6.1-15.2 13.6-16.8 81.9-18.1 165.6-16.5 237 26.2 6.1 3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2 0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8 1.3-7.4 2.6-11.9 2.6-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6 97.8-13.6 64.9 0 127.6 16.1 177 45.5 8.1 4.8 11.3 11 11.3 19.7-.1 10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6 1-8.1 2.6-12.9 2.6-13.2 0-23.3-10.3-23.3-23.6 0-13.6 8.4-21.3 17.4-23.9 35.2-10.3 74.6-15.2 117.5-15.2 73 0 149.5 15.2 205.4 47.8 7.8 4.5 12.9 10.7 12.9 22.6 0 13.6-11 23.3-23.2 23.3z"/></svg> Disconnect Spotify</a></div>
                    
                    <% } else { %>
                        
                        <div class="spot-btn text-center"><a class="btn btn-success btn-lg nav-btn" href="/slogin" role="button"><svg xmlns="http://www.w3.org/2000/svg" style= "width: 24px; height: 24px;" viewBox="0 0 496 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9 1-9 2.6-11.9 2.6-9.7 0-15.8-7.7-15.8-15.8 0-10.3 6.1-15.2 13.6-16.8 81.9-18.1 165.6-16.5 237 26.2 6.1 3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2 0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8 1.3-7.4 2.6-11.9 2.6-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6 97.8-13.6 64.9 0 127.6 16.1 177 45.5 8.1 4.8 11.3 11 11.3 19.7-.1 10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6 1-8.1 2.6-12.9 2.6-13.2 0-23.3-10.3-23.3-23.6 0-13.6 8.4-21.3 17.4-23.9 35.2-10.3 74.6-15.2 117.5-15.2 73 0 149.5 15.2 205.4 47.8 7.8 4.5 12.9 10.7 12.9 22.6 0 13.6-11 23.3-23.2 23.3z"/></svg> Login with Spotify</a></div>
                        <%}
                    }
                    %>
                    
                    <div class="save-btn text-center"><a class="btn btn-success btn-lg nav-btn" onclick="getSettings()" role="button">Save</a></div>
                    <div class="save-btn text-center"><a class="btn btn-success btn-lg nav-btn" onclick="cpyOverlayURI('<%=user.data[0].login%>')" id="Overlaybutton" role="button">Copy Overlay URL</a></div>
                    
        <div id="user-info" style="display: none;">
        <div id="user"><%=user.data[0].login%></div>
        <div id="user-id"><%=user.data[0].id%></div>
        <div id="user-description"><%=user.data[0].description%></div>
        </div>

        <div class="card bg-light mt-4 mb-4">
            Copyright © 2024 Request+<br>
            Request+ is not affiliated with Spotify.
        </div>
    </div>
    <script src="js/main/api.js"></script>


</body></html>