


.navbar {
    display: flex;
    justify-content: center;
    width: 960px;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5rem 0.5rem;

  }

  body{
      background-color: gray;
  }
  

  .spot-btn{
    display: inline-block;
    
  }
  .save-btn{
    margin-left: 70px;
    display: inline-block;

  }

  .botHoverText{
    display: none;
    background-color: red;
    color: white;
    font-weight: bold;
  }

  .botHover:hover + .botHoverText{
    display: block;
    background-color: red;
    color: white;
    font-weight: bold;
  }